body {
  font-size: 14px;
  color: #666668;
}

h1 {
  font: 28px "Roboto Condensed";
}

h2 {
  font: 20px "Roboto";
}

h3 {
  font: 18px "Roboto";
}

.ul-dashed {
    list-style: square inside url('data:image/gif;base64,R0lGODlhBQAKAIABAAAAAP///yH5BAEAAAEALAAAAAAFAAoAAAIIjI+ZwKwPUQEAOw==');
}

.well-table {
    width: 100%;
}

.well-table > tbody > tr > td:first-child:before {
    content: '\2022 \00a0';
}

.well-table > tbody > tr > td:last-child:before {
    content: '- \00a0';
}

.navbar {
  background-color: #002464;
  padding-bottom: 8px;
  padding-right: 12px;
  color: #ffffff;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:active,
.navbar-default .navbar-nav>li>a:visited  {
    color: #ffffff;
}

.navbar-nav>li>a {
    padding-top: 4px !important;
}