    <div class="container-fluid" id="banner">
      <div class="row">
        <div class="col-md-12">
          <h2>Título</h2>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Título caja</h3>
            </div>
            <div class="panel-body highlight">
              <div class="section">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-md-3 col-xs-12">
                      <h4>Lopem ipsum</h4>
                      <ul class="ul-dashed banner-list" ng-controller="bannerListCtrl as vm">
                        <li ng-repeat="li in vm.list">{{li.desc}}</li>
                      </ul>
                    </div>
                    <div class="col-md-8 col-xs-12">
                      <div class="well well-lg">
                        <table class="well-table">
                          <tbody>
                            <tr>
                              <td>Lorem ipsum</td>
                              <td>200.000</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid" ng-controller="inputTableCtrl as vm">
      <div class="row">
        <div class="col-md-12">
          <div class="panel panel-default" ng-controller="CollapsibleCtrl as svm">
            <div class="panel-heading">
              <h6 class="panel-title pull-left">Total Items: {{vm.totalItemsFiltered}}</h6>
              <button ng-click="svm.collapseToggle()"
                class="btn btn-default btn-xs pull-right" >{{svm.collapLabel}}</button>
              <div class="clearfix"></div>
            </div>
            <div class="panel-body bg-primary-darker" uib-collapse="svm.isCollapsed" >
            <form class="form-horizontal" name="fs" ng-submit="vm.search()">

              <div class="form-group">
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{::vm.defaultPlaceholder}}">
                    <span class="input-group-addon">calendar</span>
                  </div>
                </div>
                <br class="hidden-md hidden-lg">
                <div class="col-md-3">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="{{::vm.defaultPlaceholder}}">
                    <span class="input-group-addon">calendar</span>
                  </div>
                </div>
                <br class="hidden-md hidden-lg">
                <div class="col-md-3">
                  <select  ng-model="vm.fs.select1" class="form-control">
                  <option selected value="">{{::vm.defaultPlaceholder}}</option>
                  <option ng-repeat="opt in vm.fs.select1Opts"
                      value="{{opt.val}}">x{{opt.desc}}</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-md-6">
                    <input type="text" class="form-control input-large" placeholder="Búsqueda general"
                    ng-model="vm.fs.general_search" >
                </div>
                 <div class="col-md-offset-4 col-md-2 text-center">
                  <br class="hidden-md hidden-lg">
                  <button  ng-click="vm.search()"  class="btn btn-success">Buscar</button>
                </div>
              </div>
            </form>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div id="inputs-table" class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Lorem</th>
                <th>Ipsum</th>
                <th>Dolor</th>
                <th>Sit</th>
                <th>Amet</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in vm.pagedItems">
                <td><input type="checkbox"></td>
                <td>{{item.lorem}}</td>
                <td>{{item.ipsum}}</td>
                <td>{{item.dolor}}</td>
                <td>{{item.sit}}</td>
                <td>$ {{item.amet}}</td>
              </tr>
            </tbody>
          </table>
          </div>
        </div>
        <div class="col-xs-12 text-center">
          <ul uib-pagination  class="pagination-sm"
              ng-model="vm.currentPage" max-size="vm.maxSize" total-items="vm.totalItemsFiltered"
              boundary-links="true" force-ellipses="true" direction-links="false"
              ng-change="vm.pageChanged()"
              previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
          </ul>
        </div>
      </div>
    </div>